<%= form_for @skater, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :team, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :team, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :goals, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :goals, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :assists, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :assists, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pool_member_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pool_member_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nhl_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nhl_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                skaters_path, :class => 'btn' %>
  </div>
<% end %>
