<tr>
  <td><%= skater.name %></td>
  <td><%= skater.team %></td>
  <td><%= skater.pos %></td>
  <td><%= skater.goals %></td>
  <td><%= skater.assists %></td>
  <td><%= skater.pool_member.name if skater.pool_member %></td>
</tr>