<h1>Leaders</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Goals</th>
    <th>Assists</th>
    <th>Total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pool_members.each do |pool_member| %>
      <tr>
        <td><%= pool_member.name %></td>
        <td><%= pool_member.skaters.sum("goals") %></td>
        <td><%= pool_member.skaters.sum("assists") %></td>
        <td><%= pool_member.total_team_points %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skater', new_skater_path %>

