<div class="row hidden-xs">
  <div class="col-md-12"><p></p></div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>Leader Board</h3>
      </div>

      <table id="leaderTable" class="table table-striped table-condensed ">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th class="hidden-xs">Goals</th>
          <th class="hidden-xs">Assists</th>
          <th class="hidden-xs">Wins</th>
          <th class="hidden-xs">Shutouts</th>
          <th>Players Remaining</th>
          <th>Total</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @sorted_pool_members.each_with_index do |pool_member, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= pool_member.name %></td>
              <td class="hidden-xs"><%= pool_member.total_goals %></td>
              <td class="hidden-xs"><%= pool_member.total_assists %></td>
              <td class="hidden-xs"><%= pool_member.goalie.sum("wins") %></td>
              <td class="hidden-xs"><%= pool_member.goalie.sum("so") %></td>
              <td><%= pool_member.remaining_players %></td>
              <td><%= pool_member.total_team_points %></td>
              <td><%= link_to "Details", leader_path(pool_member), :class => 'btn btn-default btn-sm' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="panel-footer">
        <div class="row">
          <p>
          <div class="col-md-9">
            <strong>I'll try to make this automatically happen every hour.</strong>
          </div>
          <div class="col-md-3">
            <%= link_to "Refresh Player Stats", updateSkaters_leaders_path, method: :post, :class => 'btn btn-success' %>
          </div>
          </p>
        </div>
      </div>

    </div>


  </div>

</div>



