<h1>Leaders</h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Goals</th>
    <th>Assists</th>
    <th>Total</th>
  </tr>
  </thead>

  <tbody>
  <% @sorted_pool_members.each do |pool_member| %>
      <tr>
        <td><%= link_to pool_member.name, leader_path(pool_member) %></td>
        <td><%= pool_member.skaters.sum("goals") %></td>
        <td><%= pool_member.skaters.sum("assists") %></td>
        <td><%= pool_member.total_team_points %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Update Skater Stats', action: "updateSkaters" %>

