<h1><%= @pool_member.name %></h1>

<%= link_to "Return to leader board", leaders_path, :class => 'btn btn-primary' %>
<div class="span8">
    <h3>Skaters</h3>
    <table id="skaterTable" class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Total Points</th>
      </tr>
      </thead>

      <tbody>
      <% @pool_member.skaters.each do |skater| %>
          <tr>
            <td><%= skater.name %></td>
            <td><%= skater.team %></td>
            <td><%= skater.pos %></td>
            <td><%= skater.goals %></td>
            <td><%= skater.assists %></td>
            <td><%= skater.total_points %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>

<div class="span8">
    <h3>Goalies</h3>
    <table id="goalieTable" class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Shutouts</th>
        <th>Total Points</th>
      </tr>
      </thead>

      <tbody>
      <% @pool_member.goalie.each do |goalie| %>
        <tr>
            <td><%= goalie.name %></td>
            <td><%= goalie.team %></td>
            <td><%= goalie.wins %></td>
            <td><%= goalie.so %></td>
          <td><%= goalie.total_points %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
