<%= form_for [@pool, @pool_member]  do |f| %>
  <% if @pool_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool_member.errors.count, "error") %> prohibited this pool_member from being saved:</h2>

      <ul>
      <% @pool_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :goalie1 %><br>
    <%= f.select(:goalie1, options_for_select(@playoff_teams,:goalie1)) %>
  </div>
  <div class="field">
    <%= f.label :goalie2 %><br>
    <%= f.select(:goalie2, options_for_select(@playoff_teams,:goalie2)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
