<p id="notice"><%= notice %></p>

<%= content_tag "div", id: "skaters", data: {url: @skaterNames.to_json} do %>
<% end %>

<p>
  <strong>Pool:</strong>
  <%= @pool_member.pool.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pool_member.name %>
</p>

<h1>Skaters</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Pos</th>
    <th>Goals</th>
    <th>Assists</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody id="skaterList">
  <%= render @pool_member.skaters %>
  </tbody>
</table>

<%= form_tag("addSkater", method: "post", remote: true) do %>
    <div class="field">
      <%= label_tag :name %><br>
      <%= text_field_tag :skaterSearch %>
      <%= hidden_field_tag :nhlId %>
      <%= hidden_field_tag :pool, @pool_member.pool.id %>
      <%= hidden_field_tag :id, @pool_member.id %>
    </div>
    <%= submit_tag("Add Skater") %>
<% end %>

<h1>Goalies</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Wins</th>
    <th>Shutouts</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @pool_member.goalie %>
  </tbody>
</table>

<%= link_to 'Edit', edit_pool_pool_member_path(@pool_member.pool,@pool_member) %> |
<%= link_to 'Back', pool_pool_members_path %>
