<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goalie.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @goalie.team %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @goalie.wins %>
</p>

<p>
  <strong>So:</strong>
  <%= @goalie.so %>
</p>

<p>
  <strong>Pool member:</strong>
  <%= @goalie.pool_member_id %>
</p>

<p>
  <strong>Nhl:</strong>
  <%= @goalie.nhl_id %>
</p>

<%= link_to 'Edit', edit_goalie_path(@goalie) %> |
<%= link_to 'Back', goalies_path %>
