<%= form_for [@pool,@nhl_team], :html => { :role => 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :for => :name %>
    <%= f.text_field :name, :class => 'form-control', :placeholder => :name %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :active %> <%= :active %>
    </label>

  </div>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pool_nhl_teams_path, :class => 'btn' %>
<% end %>
